completed
-----------
personal: project: rcl: create project structure

------------------------------------------------------------------
------------------------------------------------------------------
pause
-------
------------------------------------------------------------------
------------------------------------------------------------------
inprogress
-----------

------------------------------------------------------------------
------------------------------------------------------------------
todo
-----
personal: project: rcl: RestTemplate full implementation
personal: project: rcl: Implement error handling in RestTemplate
personal: project: rcl: Implement interceptor to RestTemplate implementation
------------------------------------------------------------------
------------------------------------------------------------------